.ui.menu {
    background-color: #333333;
    border-width: 0px !important;
    border-radius: 0 0 .28571429rem .28571429rem !important;
}

/* .ui.menu .ui.dropdown .menu > .item {
    background-color: #333333 !important;
    color: white !important;
} */

.item {
    color: white !important;
}

a.item:hover {
    background-color: #f25253 !important;
    color: white !important;
    border-radius: 0 0 0 0 !important;
}

div.ui.item.dropdown:hover {
    background-color: #f25253 !important;
    color: white !important;
}
