.App {
  align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.card {
  top: 15%;
  margin: auto;
  width: 500px;
  padding: 1px 0;
}

.footer {
  position: absolute;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  border-radius: .28571429rem;
  background-color: #333333;
  color: white;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 1px 0px 0px 2px rgba(34,36,38,.15);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.link:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}

.mid-gray {
    color: #9aa1ac;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .ph5-m {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .ph6-l {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
